input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  outline-color: rgb(22, 216, 103);
  padding: 10px;
  font-size: 16px;
}
input[type="text"] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type="submit"] {
  background-color: DodgerBlue;
  color: #fff;
}
.autoComplete {
  /*容器定位设置为 relative:*/
  position: relative;
  display: inline-block;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*设置自动填充项宽度与容器相同*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*鼠标移动到填充项设置的背景颜色*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*使用箭头键浏览填充项时的背景颜色*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}
