/* 打开和关闭手风琴面板的样式 */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* 设置点击和鼠标移到选项上面时（悬停）的样式 */
.cusCollapse,
.accordion:hover {
  background-color: #ccc;
}

/* 为手风琴面板设计样式。 默认隐藏 */
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
/* 设置 +、- 标志 */
.accordion:after {
  content: "\002B"; /* Unicode 字符 + 号 */
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.cusCollapse:after {
  content: "\2212"; /* Unicode 字符 - 号 */
}
